  .miparent {
display: grid;
grid-template-columns: 100px auto;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
  justify-content: start; 
  align-content: start; 
  justify-items: start; 
  align-items: start; 
}

.miparent b { color: rgb(var(--groupcolor))!important; }
.miparent i { color: rgb(var(--groupcolor))!important; }

.midiv1 { grid-area: 1 / 1 / 2 / 2; width: 75px; height: 75px; border-radius: 100%; margin-left: -15px;position: sticky!important; top: 50px; }
.midiv2 { grid-area: 1 / 2 / 2 / 3; white-space: pre-wrap; }

.mitchquote {padding: 0px 20px 0px 20px; margin-top: 10px; line-height: 150%; font-style: italic; border-left: 3px solid transparent!important;}
.mitchquote::before {content: "."; text-transform: lowercase; font-size: 9px; letter-spacing: 1px; text-align: left;}

#icat {
    width: 75px; 
    height: 75px;
    background-image: url(https://i.postimg.cc/0Qt6fk1V/tumblr-inline-rvn89e-RYW21yo8v3m-500.gif); border-radius: 100%; border: 1px solid rgb(var(--groupcolor) / 0.6); outline: 0px solid rgb(var(--groupcolor) / 0.6); outline-offset: 3px;
}

.iava {
    background-color: white;
    background-position: 0px 0px;
    background-size: cover;
    background-blend-mode: luminosity;
    position: relative; border-radius: 100%;
}

.iava:after {
    content: "";
    position: absolute; border-radius: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    mix-blend-mode: screen;
    pointer-events: none;
}

.ilayer:after {
    background-color: rgb(var(--groupcolor) / 0.6); border-radius: 100%;
}

#lucy .mitchquote::before { content: "We're all dead eventually. There's hardly any time that we're not dead. Which is a good thing, too. Dying defines us. Snow isn't snow until it falls.";}
#lucy #icat { background-image:url(https://64.media.tumblr.com/f901bd0e360f9cb9d71ec35cd01248b8/68344faa5feb7061-e8/s540x810/68bb0dff0c96e7ee4de5ed36fc536c5de18ea215.gifv); }

#dante .mitchquote::before { content: "Only those who will risk going too far can possibly find out how far one can go.";}
#dante #icat { background-image:url(https://64.media.tumblr.com/3c5e4c30878cd20cd3fab72b83e4c5d4/146d5870bf06327e-89/s250x400/2c01f620e54da0502420221a791e2b0c262b2470.gifv); }

#lucien .mitchquote::before { content: ".";}
#lucien #icat { background-image:url(https://i.postimg.cc/dQ2fpHrP/55013a738d4651bb4db793bdf741cc8b0ff91f1a.gif); }

#veronica .mitchquote::before { content: "What is that you express in your eyes? It seems to me more than all the print I have read in my life.";}
#veronica #icat { background-image:url(https://i.postimg.cc/MK41DxHd/948dcb56d0f338e8c9e08b8976144b17b05598b0.gif); }

#john .mitchquote::before { content: "Don't bend; don't water it down; don't try to make it logical; don't edit your own soul according to the fashion. Rather, follow your most intense obsessions mercilessly.";}
#john #icat { background-image:url(https://64.media.tumblr.com/f25ea036db65739c8ecdae81a6abfb41/fc02a2e34fb90fd9-a8/s400x600/901a6449339b203864682e8bb1a5ed49c6055295.gifv); }

#nkwachi .mitchquote::before { content: ".";}
#nkwachi #icat { background-image:url(https://64.media.tumblr.com/98a375405750deeb05f541a9c3941b66/c756e1547585923b-73/s400x600/52515fa1389c5d0fc9d50bb59ad055e4366e08a3.gifv); }

#james .mitchquote::before { content: "He knew only that his child was his warrant. He said: If he is not the word of God God never spoke";}
#james #icat { background-image:url(https://64.media.tumblr.com/e06d4195bfa6e7fcab3efa2cb17d176c/d993f65a26ab5583-6c/s400x600/a6a5b971c2f2a6fc6ac97b2fd2de8ef955cb1a7f.gifv); }

#adam .mitchquote::before { content: ".";}
#adam #icat { background-image:url(https://64.media.tumblr.com/696cad987552b1c5e9f93325646fee70/eaf6ac1985e5488f-28/s400x600/c0c118b0a5da29f187c03a3d1652d5fd2533bc50.gifv); }

#yujin .mitchquote::before { content: "Whoever fights monsters should see to it that in the process he does not become a monster. And if you gaze long enough into an abyss, the abyss will gaze back into you";}
#yujin #icat { background-image:url(https://64.media.tumblr.com/3f9df7a27b345d71223e67b9983e45fd/36795f2ba7aaa0a6-be/s400x600/803d29526b96f4909ee4990057a2e72f5aaac374.gifv); }








































