@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');


.mitchaltconborder { width: 65%; margin: 50px auto; border-radius: 15px 0px;
  background: url('https://i.imgur.com/bwWI5xb.png');
background-size: cover; background-attachment: fixed; background-blend-mode: multiply;}

.mitchaltcon { color: #ddd; 
    width: calc(100% - 0px); margin: auto; border-radius: 15px 0px;
    background-color: rgba(0,0,0,0.5); backdrop-filter:blur(5px);

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 300px auto;
  grid-template-areas:
    "mitchavagif"
    "mitchavapost";}

.mitchaltcon b { color: #fff;
  padding: 2px 0px;
  font-weight: 700; }

.mitchaltcon .mitchaltpost { grid-area: mitchavapost;
  padding: 20px 80px 20px 80px; white-space: pre-wrap;
  text-align: justify; margin: 0px;
  font-family: Frank Ruhl Libre;
  font-size: 13px!important;
  line-height: 200%; color: #ddd; }

.mitchaltide { width: 100%; border-radius: 15px 0px;
  grid-area: mitchavagif; background-blend-mode: multiply; background-size: cover; background-position: center;
  text-transform: uppercase; font-family: Playfair Display;
  font-size: 8px;
  letter-spacing: 1px; justify-content: space-evenly;}

.mitchalttitle { color: #777;  text-transform: lowercase; text-shadow: 2px 2px rgba(0,0,0,0.2); 
  font-family: Playfair Display; font-size:80px; font-weight: 900; text-align: right;
  line-height: 100%; padding: 0px; margin: 140px 40px 0px 40px; }
  
.mitchalttitle::before { content:"letra de música"; font-size:10px; text-transform: uppercase; color: #fff; line-height: 16px; font-weight:400;text-align: left!important; display: block; font-style: none;}
.mitchalttitle::after { content:"x."; display: block; font-style: italic;}

  
#jimmy .mitchaltcon { background-color: rgba(255,255,255,0.1);}
#jimmy .mitchaltconborder { background-color: #3d2222;  }
#jimmy .mitchaltide { background-image: url(https://i.imgur.com/lZbt80E.png), linear-gradient(50deg, #eee, #666, #666, #eee); background-position: top; filter: contrast(1.4);}
#jimmy .mitchalttitle, #jimmy .mitchaltcon b { color: #c76969; }
#jimmy .mitchalttitle::before { content:"There is no place like home when you got no place to go"; padding-bottom: 95px; padding-right: 0px;}
#jimmy .mitchalttitle::after { content:""; }

#milo .mitchaltconborder { background-color: #79844d;  }
#milo .mitchaltide { background-image: url(https://i.pinimg.com/564x/7b/1b/76/7b1b767903d3d4ef71abd8ae3a93b075.jpg), linear-gradient(50deg, #eee, #eee); background-position: top;}
#milo .mitchalttitle, #milo .mitchaltcon b { color: #79844d; }
#milo .mitchalttitle::before { content:"but you need to go to war to find material to sing"; padding-bottom: 95px; padding-right: 0px;}
#milo .mitchalttitle::after { content:""; }

#camael .mitchaltconborder { background-color: #0f698c;  }
#camael .mitchaltide { background-image: url(https://i.postimg.cc/BbTk2fN6/fbc2c008fdac393758f62ff37c74943c.jpg), linear-gradient(50deg, #eee, #666, #eee); background-position: top center; }
#camael .mitchalttitle, #camael .mitchaltcon b { color: #0f698c; }
#camael .mitchalttitle::before { content:"but you need to go to war to find material to sing"; padding-bottom: 95px; padding-right: 0px;}
#camael .mitchalttitle::after { content:""; }

#greta .mitchaltconborder { background-color: #5b2491;  }
#greta .mitchaltide { background-image: url(https://i.postimg.cc/xCyvgNPQ/gretaaa.png), linear-gradient(50deg, #eee, #999, #999, #eee); filter: contrast(1.2); }
#greta .mitchalttitle, #greta .mitchaltcon b { color: #844bbc; }
#greta .mitchalttitle::before { content:"If I time it right, the thunder breaks when I open my mouth";padding-bottom: 95px; padding-right: 0px;}
#greta .mitchalttitle::after { content:""; }

#ivan .mitchaltconborder { background-color: #ff8d00;  }
#ivan .mitchaltide { background-image: url(https://i.postimg.cc/nM8Tx7SN/faa07baec6285662a46b9ecaa6d10105.jpg), linear-gradient(50deg, #fff, #999, #999, #fff); }
#ivan .mitchalttitle, #ivan .mitchaltcon b { color: #bf6c07; }
#ivan .mitchalttitle::before { content:"but you need to go to war to find material to sing"; padding-bottom: 95px; padding-right: 0px;}
#ivan .mitchalttitle::after { content:""; }

#contessa .mitchaltconborder { background-color: #821718;  }
#contessa .mitchaltide { background-image: url(https://i.postimg.cc/XYFnj8ZY/ed818dc85611b9b53093e480caf796ca.jpg), linear-gradient(50deg, #eee, #999, #eee); filter:contrast(1.5); }
#contessa .mitchalttitle, #contessa .mitchaltcon b { color: #bc2121; }
#contessa .mitchalttitle::before { content:"but you need to go to war to find material to sing"; padding-bottom: 95px; padding-right: 0px;}
#contessa .mitchalttitle::after { content:""; }

#helena .mitchaltconborder { background-color: #7d604f;  }
#helena .mitchaltide { background-image: url(https://i.postimg.cc/hvfqPpH2/e8b0a4bd6405965b978162588a410c52.jpg), linear-gradient(50deg, #eee, #fff, #fff, #eee); background-position: center; }
#helena .mitchalttitle, #helena .mitchaltcon b { color: #7d604f; }
#helena .mitchalttitle::before { content:"but you need to go to war to find material to sing"; padding-bottom: 95px; padding-right: 0px;}
#helena .mitchalttitle::after { content:""; }

#cameel .mitchaltconborder { background-color: #80d2f2;  }
#cameel .mitchaltide { background-image: url(https://i.postimg.cc/hvPt8LNm/cameel.png), linear-gradient(50deg, #666, #fff, #fff, #666); }
#cameel .mitchalttitle, #cameel .mitchaltcon b { color: #80d2f2; }
#cameel .mitchalttitle::before { content:"but you need to go to war to find material to sing"; padding-bottom: 95px; padding-right: 0px;}
#cameel .mitchalttitle::after { content:""; }

#santiago .mitchaltconborder { background-color: #ae4b2a;  }
#santiago .mitchaltide { background-image: url(https://i.postimg.cc/cHD3VmGs/62f66e3ebdc38c67e81d71b120a82236.jpg), linear-gradient(50deg, #fff, #666, #666, #fff); background-position: center right; }
#santiago .mitchalttitle, #santiago .mitchaltcon b { color: #ae4b2a; }
#santiago .mitchalttitle::before { content:"but you need to go to war to find material to sing"; padding-bottom: 95px; padding-right: 0px;}
#santiago .mitchalttitle::after { content:"fear."; }

#ivy .mitchaltconborder { background-color: #eee;  }
#ivy .mitchaltide { background-image: url(https://i.postimg.cc/Jn4m2wL2/Edition-7-running-like-water.jpg), linear-gradient(50deg, #eee, #666, #666, #eee); background-position: center right; }
#ivy .mitchalttitle, #ivy .mitchaltcon b { color: #999; }
#ivy .mitchalttitle::before { content:"every song i thought i knew i've been deafened to"; padding-bottom: 90px; padding-right: 0px;}
#ivy .mitchalttitle::after { content:""; }

#billy .mitchaltconborder { background-color: #3eb595;  }
#billy .mitchaltide { background-image: url(https://i.postimg.cc/tTFMNhcd/wincest0.png), linear-gradient(50deg, #eee, #fff, #fff, #eee); background-position: center right; filter:contrast(1.5); }
#billy .mitchalttitle, #billy .mitchaltcon b { color: #3eb595; }
#billy .mitchalttitle::before { content:"Because whatever we have between us… love, family, whatever it is…"; padding-bottom: 95px; padding-right: 0px;}
#billy .mitchalttitle::after { content:""; }

#pamela .mitchaltconborder { background-color: #bf6c07;  }
#pamela .mitchaltide { background-image: url(https://i.postimg.cc/fWFhJb3R/lucas-lenzi-ee-FMA02k-Rog-unsplash.jpg), linear-gradient(50deg, #eee, #666, #666, #eee); }
#pamela .mitchalttitle, #pamela .mitchaltcon b { color: #bf6c07; }
#pamela .mitchalttitle::before { content:"Leave all your love and your longing behind, you can't carry it with you if you want to survive"; padding-bottom: 95px; padding-right: 0px;}
#pamela .mitchalttitle::after { content:""; }

#cora .mitchaltconborder { background-color: #ff8097;  }
#cora .mitchaltide { background-image: url(https://i.postimg.cc/6QXZ1L5P/db6d871c128770bcbda0e8313ca13dd4.jpg), linear-gradient(50deg, #eee, #666, #666, #eee); }
#cora .mitchalttitle, #cora .mitchaltcon b { color: #ff8097; }
#cora .mitchalttitle::before { content:"but you need to go to war to find material to sing"; padding-bottom: 95px; padding-right: 0px;}
#cora .mitchalttitle::after { content:""; }

#padma .mitchaltconborder { background-color: #f9db4a;  }
#padma .mitchaltide { background-image: url(https://i.postimg.cc/tT1LKD8y/padma.png), linear-gradient(50deg, #eee, #fff, #fff, #eee); }
#padma .mitchalttitle, #padma .mitchaltcon b { color: #f9db4a; }
#padma .mitchalttitle::before { content:""; padding-bottom: 95px; padding-right: 0px;}
#padma .mitchalttitle::after { content:""; }

#fei .mitchaltconborder { background-color: #d9bea7;  }
#fei .mitchaltide { background-image: url(https://i.pinimg.com/564x/38/7e/39/387e393423e5f02ace60eb373acbfade.jpg), linear-gradient(50deg, #d9bea7, #666, #666, #d9bea7); background-position: center right; }
#fei .mitchalttitle, #fei .mitchaltcon b { color: #d9bea7; }
#fei .mitchalttitle::before { content:"but you need to go to war to find material to sing"; padding-bottom: 95px; padding-right: 0px;}
#fei .mitchalttitle::after { content:""; }

#victor .mitchaltconborder { background-color: #a66eb6;  }
#victor .mitchaltide { background-image: url(https://i.postimg.cc/QtN3vXSG/46110717fb2ec4db94432a5dd809bfd3.jpg), linear-gradient(50deg, #eee, #666, #fff, #666); background-position: center; filter:contrast(1.3); }
#victor .mitchalttitle, #victor .mitchaltcon b { color: #a66eb6; }
#victor .mitchalttitle::before { content:"but you need to go to war to find material to sing"; padding-bottom: 95px; padding-right: 0px;}
#victor .mitchalttitle::after { content:""; }

#sandra .mitchaltconborder { background-color: #9acd32;  }
#sandra .mitchaltide { background-image: url(https://i.postimg.cc/NGS02HpK/hwasa11111.png), linear-gradient(50deg, #fff, #eee, #eee, #fff); background-position: center right; filter:contrast(1.2); }
#sandra .mitchalttitle, #sandra .mitchaltcon b { color: #9acd32; }
#sandra .mitchalttitle::before { content:"You did some bad things, but I'm the worst of them"; padding-bottom: 95px; padding-right: 0px;}
#sandra .mitchalttitle::after { content:""; }

#zezrith .mitchaltconborder { background-color: #a3c0a2;  }
#zezrith .mitchaltide { background-image: url(https://i.postimg.cc/gcTWBbZQ/1b793c27c594d68cf551cef236fde688.jpg), linear-gradient(50deg, #eee, #999, #999, #eee); background-position: bottom; filter:contrast(1.3); }
#zezrith .mitchalttitle, #zezrith .mitchaltcon b { color: #a3c0a2; }
#zezrith .mitchalttitle::before { content:"but you need to go to war to find material to sing"; padding-bottom: 95px; padding-right: 0px;}
#zezrith .mitchalttitle::after { content:""; }
