  .miparent {
display: grid;
grid-template-columns: 100px auto;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
  justify-content: start; 
  align-content: start; 
  justify-items: start; 
  align-items: start; 
}

.miparent b { color: rgb(var(--groupcolor))!important; }
.miparent i { color: rgb(var(--groupcolor))!important; }

.midiv1 { grid-area: 1 / 1 / 2 / 2; width: 75px; height: 75px; border-radius: 100%; margin-left: -15px;position: sticky!important; top: 50px; }
.midiv2 { grid-area: 1 / 2 / 2 / 3; white-space: pre-wrap; }

.mitchquote {padding: 0px 20px 0px 20px; margin-top: 10px; line-height: 150%; font-style: italic; border-left: 1px solid transparent!important;}
.mitchquote::before {content: "."; text-transform: lowercase; font-size: 9px; letter-spacing: 1px; text-align: left;}

#icat {
    width: 75px; 
    height: 75px; background-size: cover; background-position: center;
    background-image: url(https://i.postimg.cc/0Qt6fk1V/tumblr-inline-rvn89e-RYW21yo8v3m-500.gif); border-radius: 100%; border: 0px solid rgb(var(--groupcolor) / 0.4); outline: 0px solid rgb(var(--groupcolor) / 0.4); outline-offset: 3px;
}

.iava {
    background-color: white;
    background-position: 0px 0px;
    background-size: cover;
    background-blend-mode: luminosity;
    position: relative; border-radius: 100%;
}

.iava:after {
    content: "";
    position: absolute; border-radius: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    mix-blend-mode: multiply; box-shadow: 0 0 15px 5px rgb(var(--groupcolor) / 0.5);
    pointer-events: none;
}

.ilayer:after {
    background-color: rgb(var(--groupcolor) / 0.2); border-radius: 100%;
}

#lucy .mitchquote::before { content: "We're all dead eventually. There's hardly any time that we're not dead. Which is a good thing, too. Dying defines us. Snow isn't snow until it falls.";}
#lucy #icat { background-image:url(https://64.media.tumblr.com/f901bd0e360f9cb9d71ec35cd01248b8/68344faa5feb7061-e8/s540x810/68bb0dff0c96e7ee4de5ed36fc536c5de18ea215.gifv); }

#dante .mitchquote::before { content: "Only those who will risk going too far can possibly find out how far one can go.";}
#dante #icat { background-image:url(https://64.media.tumblr.com/3c5e4c30878cd20cd3fab72b83e4c5d4/146d5870bf06327e-89/s250x400/2c01f620e54da0502420221a791e2b0c262b2470.gifv); }

#lucien .mitchquote::before { content: ".";}
#lucien #icat { background-image:url(https://i.postimg.cc/dQ2fpHrP/55013a738d4651bb4db793bdf741cc8b0ff91f1a.gif); }

#veronica .mitchquote::before { content: "What is that you express in your eyes? It seems to me more than all the print I have read in my life.";}
#veronica #icat { background-image:url(https://64.media.tumblr.com/ccb488cedaa7bd1201420113fe6440ae/30ce03515cd6d359-81/s400x600/a41146ed95802e54af4332a2898b72527749bbad.gifv); }

#john .mitchquote::before { content: "Quién pudiera vivir entre los dos, primero amar el mundo y luego amar a Dios. Quién pudiera venir de esta tierra y entrar en el cielo y volver a la tierra. Que entre la tierra, la tierra y el cielo, nunca hubiera suelo";}
#john #icat { background-image:url(https://64.media.tumblr.com/f25ea036db65739c8ecdae81a6abfb41/fc02a2e34fb90fd9-a8/s400x600/901a6449339b203864682e8bb1a5ed49c6055295.gifv); }

#nkwachi .mitchquote::before { content: "Oke oshimmiri anokataghi rie onye obula nke o na-ahughi ukwu ya anya";}
#nkwachi #icat { background-image:url(https://64.media.tumblr.com/050b4e1b22d121a90d29eb28d5adc849/ecd7a23489e9f8fe-b4/s400x600/e852f469a1ca81ff2be22e7a4d7501af0d533a36.gifv); }

#james .mitchquote::before { content: "He knew only that his child was his warrant. He said: If she is not the word of God God never spoke";}
#james #icat { background-image:url(https://64.media.tumblr.com/e06d4195bfa6e7fcab3efa2cb17d176c/d993f65a26ab5583-6c/s400x600/a6a5b971c2f2a6fc6ac97b2fd2de8ef955cb1a7f.gifv); }

#adam .mitchquote::before { content: ".";}
#adam #icat { background-image:url(https://64.media.tumblr.com/696cad987552b1c5e9f93325646fee70/eaf6ac1985e5488f-28/s400x600/c0c118b0a5da29f187c03a3d1652d5fd2533bc50.gifv); }

#yujin .mitchquote::before { content: "Whoever fights monsters should see to it that in the process he does not become a monster. And if you gaze long enough into an abyss, the abyss will gaze back into you";}
#yujin #icat { background-image:url(https://64.media.tumblr.com/3f9df7a27b345d71223e67b9983e45fd/36795f2ba7aaa0a6-be/s400x600/803d29526b96f4909ee4990057a2e72f5aaac374.gifv); }

#ivan .mitchquote::before { content: "Whoever fights monsters should see to it that in the process he does not become a monster. And if you gaze long enough into an abyss, the abyss will gaze back into you";}
#ivan #icat { background-image:url(https://64.media.tumblr.com/414b15567683649216d4f139e7dcfe52/8b7db1c5eb582580-f0/s400x600/f2f1aa9c685178d6e2294fbddabca98f36984053.gifv); }

#meera .mitchquote::before { content: "Whoever fights monsters should see to it that in the process he does not become a monster. And if you gaze long enough into an abyss, the abyss will gaze back into you";}
#meera #icat { background-image:url(https://64.media.tumblr.com/d1e1cf346751d9ee5f6d519022cc728d/ba511759f6b2fffc-d2/s400x600/2966a8cca98fe18cdf3faf31b74571bbf3cc91e9.gifv); }

#newt .mitchquote::before { content: "Whoever fights monsters should see to it that in the process he does not become a monster. And if you gaze long enough into an abyss, the abyss will gaze back into you";}
#newt #icat { background-image:url(https://64.media.tumblr.com/cd746e6ff44211837a3df13520562c87/d66761579331252a-2f/s400x600/5518a7e29b4cae4c3411f0e327c102dd2af7d07a.gifv); }

#vincent .mitchquote::before { content: "Whoever fights monsters should see to it that in the process he does not become a monster. And if you gaze long enough into an abyss, the abyss will gaze back into you";}
#vincent #icat { background-image:url(https://64.media.tumblr.com/09843b6ed54e502165f46e07bbbbefa8/d09a38b7ce6889ab-64/s400x600/c3b5d729af302b50d845dcefd78b19c66de98997.gifv); }

#justice .mitchquote::before { content: "A lightning strike, a fallen tree. And I'm afraid, oh, don't let it find me. But you can't outrun yourself, you'll see. And I'm powerless, oh, don't remind me";}
#justice #icat { background-image:url(https://64.media.tumblr.com/09843b6ed54e502165f46e07bbbbefa8/d09a38b7ce6889ab-64/s400x600/c3b5d729af302b50d845dcefd78b19c66de98997.gifv); }

#cora .mitchquote::before { content: "A lightning strike, a fallen tree. And I'm afraid, oh, don't let it find me. But you can't outrun yourself, you'll see. And I'm powerless, oh, don't remind me";}
#cora #icat { background-image:url(https://64.media.tumblr.com/841d68a9ee32321d9354421ae23649ca/e1eb9d2e2984a847-42/s250x400/0ebde2994c805f14731ce25819999b750d231eeb.gifv); }

#ursula .mitchquote::before { content: "A lightning strike, a fallen tree. And I'm afraid, oh, don't let it find me. But you can't outrun yourself, you'll see. And I'm powerless, oh, don't remind me";}
#ursula #icat { background-image:url(https://i.postimg.cc/2yxTLNSG/ezgif-4ab14699fb077a.gif); }

#dumas .mitchquote::before { content: "A lightning strike, a fallen tree. And I'm afraid, oh, don't let it find me. But you can't outrun yourself, you'll see. And I'm powerless, oh, don't remind me";}
#dumas #icat { background-image:url(https://64.media.tumblr.com/778222329d68343a0af5a5f2d3b64744/daa5cad7504e495b-12/s400x600/4517a20c8d13fc13884c778d6d816f0c60536699.gifv); }

#katrina .mitchquote::before { content: "A lightning strike, a fallen tree. And I'm afraid, oh, don't let it find me. But you can't outrun yourself, you'll see. And I'm powerless, oh, don't remind me";}
#katrina #icat { background-image:url(https://64.media.tumblr.com/b2e61a2c5ce54a6ad98f0bf6699f7ade/e84a231492ad02fb-cf/s400x600/e0ca7ac6077cbc8b523977171573eba4f305e27c.gifv); }

#billy .mitchquote::before { content: "A lightning strike, a fallen tree. And I'm afraid, oh, don't let it find me. But you can't outrun yourself, you'll see. And I'm powerless, oh, don't remind me";}
#billy #icat { background-image:url(https://64.media.tumblr.com/5a5eba6d943b2689c7af1fd478956620/4ceb946072891436-25/s400x600/93b2700303b2487fe270f311475f65f874130449.gifv); }

#mathilda .mitchquote::before { content: "A lightning strike, a fallen tree. And I'm afraid, oh, don't let it find me. But you can't outrun yourself, you'll see. And I'm powerless, oh, don't remind me";}
#mathilda #icat { background-image:url(https://64.media.tumblr.com/bd18a75dbc94b7a1a709bb8778891e1b/93402f54d9315757-43/s400x600/639b79f0fc0339f82246e7201075dcd46f4326be.gifv); }

#justice .mitchquote::before { content: "Some animal instinct starting up again And I am wound so tightly, I hardly even breathe. You wonder why we're hungry for some kind of release. So tired of being careful, so tired of being still";}
#justice #icat { background-image:url(https://64.media.tumblr.com/bcd9d21330ba016a6e8a0296256ee553/163fb3a5aae010ce-9c/s400x600/d9e33c2c578f048388edbb6fca92bb323de33f22.gifv); }

#zezrith .mitchquote::before { content: "Some animal instinct starting up again And I am wound so tightly, I hardly even breathe. You wonder why we're hungry for some kind of release. So tired of being careful, so tired of being still";}
#zezrith #icat { background-image:url(https://64.media.tumblr.com/84655adb8e29091db78f2ccdd4b7c627/6283e2103eb289c0-cf/s400x600/c992491626e6f47f3b3616e75a955cd0693c9dbf.gifv); }

#milo .mitchquote::before { content: "Some animal instinct starting up again And I am wound so tightly, I hardly even breathe. You wonder why we're hungry for some kind of release. So tired of being careful, so tired of being still";}
#milo #icat { background-image:url(https://64.media.tumblr.com/8d857305fa348ef0e32548045f0d7a08/a72f953d2989d3be-55/s250x400/858a6efd06fa6747969d0f98f02d79787d309613.gifv);}

#mogath .mitchquote::before { content: "Some animal instinct starting up again And I am wound so tightly, I hardly even breathe. You wonder why we're hungry for some kind of release. So tired of being careful, so tired of being still";}
#mogath #icat { background-image:url(https://64.media.tumblr.com/dd74b9b83e9b37f1a5f683981d3d71c9/1f1c9cb0e79cc809-47/s400x600/1516dc62003c105012451040578cb859c4ae8185.gifv); }

#tenebra .mitchquote::before { content: "Some animal instinct starting up again And I am wound so tightly, I hardly even breathe. You wonder why we're hungry for some kind of release. So tired of being careful, so tired of being still";}
#tenebra #icat { background-image:url(https://64.media.tumblr.com/6ebbceb0ceae1f30fb0171a81d047354/24fd05349da9db67-96/s400x600/d3acb0db18b66f0041c7ab1f9e41205ef5a54246.gifv); }

#santiago .mitchquote::before { content: "Some animal instinct starting up again And I am wound so tightly, I hardly even breathe. You wonder why we're hungry for some kind of release. So tired of being careful, so tired of being still";}
#santiago #icat { background-image:url(https://64.media.tumblr.com/e66adc474e5ae2af8f219eaae2eb4f91/8a467fc64adc54a0-a3/s400x600/e240208cc40fb2e8f6337404bcb13b10d6cec40b.gifv); }

#pamela .mitchquote::before { content: "Some animal instinct starting up again And I am wound so tightly, I hardly even breathe. You wonder why we're hungry for some kind of release. So tired of being careful, so tired of being still";}
#pamela #icat { background-image:url(https://64.media.tumblr.com/4360074d32f2739ede8f419a9172f300/aa648173f9cc7b32-f9/s400x600/be9d1540aed2146146d0f6128d64d2f68f87eb6c.gifv); }

#juan .mitchquote::before { content: "Some animal instinct starting up again And I am wound so tightly, I hardly even breathe. You wonder why we're hungry for some kind of release. So tired of being careful, so tired of being still";}
#juan #icat { background-image:url(https://64.media.tumblr.com/75543fe049db08467ae206ff1455c681/e0ff176decbcd2bb-bc/s400x600/43cf7480ac2ed6f9059c51ae2d28b9d45420faf4.gifv);}

#donovan .mitchquote::before { content: "Some animal instinct starting up again And I am wound so tightly, I hardly even breathe. You wonder why we're hungry for some kind of release. So tired of being careful, so tired of being still";}
#donovan #icat { background-image:url(https://64.media.tumblr.com/f97751626d0c506cdc7efed976da7a77/f57f3a7f49f80e39-51/s400x600/a55c4f0eb67e1a14075c6aaa88cf2043cccf3371.gifv);}

#ruby .mitchquote::before { content: "Some animal instinct starting up again And I am wound so tightly, I hardly even breathe. You wonder why we're hungry for some kind of release. So tired of being careful, so tired of being still";}
#ruby #icat { background-image:url(https://64.media.tumblr.com/8c79cdf2df64ff34e7471fd8bcabe46a/5fbe616c0c2b9a0a-af/s400x600/dc5542e6754c4817f442bb135821ba9a2ec84a3d.gifv);}

#camille .mitchquote::before { content: "Some animal instinct starting up again And I am wound so tightly, I hardly even breathe. You wonder why we're hungry for some kind of release. So tired of being careful, so tired of being still";}
#camille #icat { background-image:url(https://64.media.tumblr.com/6a115b645c42e804ca4970746da14526/2e9884996fe5c751-92/s250x400/70ed4990409395e088b1002b2051a92f9fd70d95.gifv);}

#xiao .mitchquote::before { content: "Some animal instinct starting up again And I am wound so tightly, I hardly even breathe. You wonder why we're hungry for some kind of release. So tired of being careful, so tired of being still";}
#xiao #icat { background-image:url(https://i.postimg.cc/TY8Q83Xh/xiu8.png);}
























































































